@charset "UTF-8";
*::after::before {
  margin: 0;
  /*otstyp elementov*/
  padding: 0;
  /*otstyp vnytri elementa*/
  box-sizing: inherit;
  /*zadaet razmer bloka*/ }

/*.logo {
    animation: moveInRight 3s ease-out;*/
/*ANIMATION LOGO*/
/*}*/
html {
  font-size: 10px; }

body {
  box-sizing: border-box;
  /*zadaet razmer bloka*/ }

@keyframes moveInLeft {
  /*Start*/
  0% {
    opacity: 0;
    /*уровень прозрачности ot [0, 1]*/
    transform: translateX(-100px);
    /*negatif gauche vers droit, et positif droit vers gauche*/ }
  /*  60% {
        transform: rotate(120deg);
    }
    80% {
        transform: translate(10px);
    }*/
  /*Finish*/
  100% {
    opacity: 1;
    /*уровень прозрачности ot [0, 1]*/
    transform: translateY(-10px);
    /*opyskaetsa ne mnogo v vverx*/ } }

@keyframes moveInRight {
  /*Start*/
  0% {
    opacity: 0;
    /*уровень прозрачности ot [0, 1]*/
    transform: translateX(100px);
    /*negatif gauche vers droit, et positif droit vers gauche*/ }
  /* 60% {
       transform: rotate(-120deg);
   }
   80% {
       transform: translate(-10px);
   }*/
  /*Finish*/
  100% {
    opacity: 1;
    /*уровень прозрачности ot [0, 1]*/
    transform: translateY(10px);
    /*opyskaetsa ne mnogo v niz*/ } }

@keyframes moveInBottom {
  /*Start*/
  0% {
    opacity: 0;
    /*уровень прозрачности ot [0, 1]*/
    transform: translateY(30px);
    /*opyskaetsa ne mnogo v niz*/ }
  /*Finish*/
  100% {
    opacity: 1;
    /*уровень прозрачности ot [0, 1]*/
    transform: translate(0px);
    /*stoit na meste*/ } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /*насыщенность шрифта*/
  /*font-size: 16px;*/
  /*размер шрифта*/
  line-height: 1.7;
  /*межстрочный интервал*/
  color: #777;
  padding: 30px;
  /*otstyp vnytri elementa*/ }

.heading-primary {
  color: #fff;
  /*couleur du texte*/
  text-transform: uppercase;
  /*text devient grand*/
  backface-visibility: hidden;
  margin-bottom: 60px;
  /*otstyp ot niza text-box*/ }
  .heading-primary--main {
    display: block;
    /**/
    font-size: 60px;
    /*размер шрифта*/
    font-weight: 400;
    /*насыщенность шрифта*/
    letter-spacing: 35px;
    /*otstyp mejdy bykvami*/
    animation-name: moveInLeft;
    /*reference sur keyframe*/
    animation-duration: 1s;
    /*durée d'animation*/
    animation-timing-function: ease-out;
    /*speed slow and fast peredvijenia*/
    /*animation-delay: 3s;*/
    /*au moment quand la page se charge, 3s rien se passe*/
    /*animation-iteration-count: 3;*/ }
  .heading-primary--sub {
    display: block;
    /**/
    font-size: 20px;
    /*размер шрифта*/
    font-weight: 400;
    /*насыщенность шрифта*/
    letter-spacing: 17.4px;
    /*otstyp mejdy bykvami*/
    animation: moveInRight 1s ease-out;
    /*srazy vuzuvaet keyframe s parametrami*/ }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  /*esli ne sdelat inline-blok do blok bydet do konca, esli sdelat to bydet do konca texta toko*/
  background-image: linear-gradient(to right, #55c57a, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 5px 10px 20px black; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 20px; }

.u-margin-bottom-medium {
  margin-bottom: 40px; }

.u-margin-bottom-big {
  margin-bottom: 80px; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  /*on met un contrast sur l'image eclairé"*/
  background-size: cover;
  margin-top: -10rem;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 50rem 0;
  margin-top: -10rem; }

.btn:link, .btn:visited {
  /**/
  text-transform: uppercase;
  /*text toko big bykvami*/
  text-decoration: none;
  /*po skolky eto link, on podcherknyt, to none ybiraet podcherkivanie*/
  padding: 15px 40px;
  /*15px=otstyp verx niz*/
  /*40px=otstyps leva i pravo*/
  display: inline-block;
  /**/
  border-radius: 100px;
  /*zakryglaet konci*/
  transition: all .3s;
  /*effekt poavlenia knopki s 1 tochki za 0.3sec*/
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  /* :hover kogda navodim mushky*/
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /*effekt teni pod knopkoi*/ }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    /*yvilichenie btn v 2 raza*/
    opacity: 0;
    /*уровень прозрачности ot [0, 1]*/ }

.btn:active {
  /* :activekogda najali*/
  transform: translateY(1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  /*effekt teni pod knopkoi*/ }

.btn--white {
  background-color: #fff;
  /*zvet fona*/
  color: #777;
  /*zvet texta*/ }
  .btn--white::after {
    background-color: #fff;
    /*zvet posle */ }

.btn::after {
  content: "";
  /*to shto napisano v nytri text*/
  display: inline-block;
  height: 100%;
  /*razmer*/
  width: 100%;
  /*razmer*/
  border-radius: 100px;
  /*okryglenie koncov knopki*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
  /*effekt poavlenia knopki s 1 tochki za 0.4sec*/ }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  /*srazy vuzuvaet keyframe s parametrami*/
  animation-fill-mode: backwards;
  /*poavlenie knopki backwards=s nizy v verh*/ }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #7ed56f;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #7ed56f;
  padding: 3px;
  transition: all .2s;
  /*effekt poavlenia knopki s 1 tochki za 0.2sec*/ }

.btn-text:hover {
  background-color: #7ed56f;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .6s;
    /*effekt poavlenia knopki s 1 tochki za 0.6sec*/
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #7ed56f;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.card {
  perspective: 150rem;
  -moz-padding-end: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    color: white;
    font-size: 2rem;
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to rigth bottom, #ffb900, #ff7730); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    /*esli ne sdelat inline-blok do blok bydet do konca, esli sdelat to bydet do konca texta toko*/
    background-image: linear-gradient(to right, #55c57a, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.3); }

.header {
  /*class="header"*/
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  /*on met un contrast sur l'image eclairé"*/
  background-size: cover;
  /*dinamicheskoe izminenie image*/
  background-position: center;
  /*dinamicheskoe izmenenie po topy*/
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /*dimansiryet v lubyu formy*/
  /*https://bennettfeely.com/clippy/*/
  position: relative;
  /*izmenenie pozizii*/ }
  .header__logo-box {
    /* &__logo-box = header__logo-box  */
    position: absolute;
    top: 40px;
    /*otstyp s verhy*/
    left: 40px;
    /*au milieu d'ecran*/ }
  .header__logo {
    height: 35px;
    /*taille du logo hauteur*/ }
  .header__text-box {
    position: absolute;
    /*Положение элемента задается свойствами left, top, right и bottom,*/
    top: 40%;
    /*otstyp s verhy*/
    left: 50%;
    /*au milieu d'ecran*/
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  /*1140px*/
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 60px; }
  .row .col-1-of-2 {
    width: calc((100% - 60px) / 2);
    /*60px*/ }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 60px) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 60px) / 3) + 60px); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 60px) / 4); }
  .row .col-2-of-4 {
    width: calc(2 *((100% - 3 * 60px) / 4) + 60px); }
  .row .col-3-of-4 {
    width: calc(3 *((100% - 3 * 60px) / 4) + 2 * 60px); }
