@charset "UTF-8";
*::after::before {
  margin: 0;
  /*otstyp elementov*/
  padding: 0;
  /*otstyp vnytri elementa*/
  box-sizing: inherit;
  /*zadaet razmer bloka*/ }

/*.logo {
    animation: moveInRight 3s ease-out;*/
/*ANIMATION LOGO*/
/*}*/
html {
  font-size: 10px; }

body {
  box-sizing: border-box;
  /*zadaet razmer bloka*/ }

@keyframes moveInLeft {
  /*Start*/
  0% {
    opacity: 0;
    /*уровень прозрачности ot [0, 1]*/
    transform: translateX(-100px);
    /*negatif gauche vers droit, et positif droit vers gauche*/ }
  /*  60% {
        transform: rotate(120deg);
    }
    80% {
        transform: translate(10px);
    }*/
  /*Finish*/
  100% {
    opacity: 1;
    /*уровень прозрачности ot [0, 1]*/
    transform: translateY(-10px);
    /*opyskaetsa ne mnogo v vverx*/ } }

@keyframes moveInRight {
  /*Start*/
  0% {
    opacity: 0;
    /*уровень прозрачности ot [0, 1]*/
    transform: translateX(100px);
    /*negatif gauche vers droit, et positif droit vers gauche*/ }
  /* 60% {
       transform: rotate(-120deg);
   }
   80% {
       transform: translate(-10px);
   }*/
  /*Finish*/
  100% {
    opacity: 1;
    /*уровень прозрачности ot [0, 1]*/
    transform: translateY(10px);
    /*opyskaetsa ne mnogo v niz*/ } }

@keyframes moveInBottom {
  /*Start*/
  0% {
    opacity: 0;
    /*уровень прозрачности ot [0, 1]*/
    transform: translateY(30px);
    /*opyskaetsa ne mnogo v niz*/ }
  /*Finish*/
  100% {
    opacity: 1;
    /*уровень прозрачности ot [0, 1]*/
    transform: translate(0px);
    /*stoit na meste*/ } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /*насыщенность шрифта*/
  /*font-size: 16px;*/
  /*размер шрифта*/
  line-height: 1.7;
  /*межстрочный интервал*/
  color: #777;
  padding: 30px;
  /*otstyp vnytri elementa*/ }

.heading-primary {
  color: #fff;
  /*couleur du texte*/
  text-transform: uppercase;
  /*text devient grand*/
  backface-visibility: hidden;
  margin-bottom: 60px;
  /*otstyp ot niza text-box*/ }
  .heading-primary--main {
    display: block;
    /**/
    font-size: 60px;
    /*размер шрифта*/
    font-weight: 400;
    /*насыщенность шрифта*/
    letter-spacing: 35px;
    /*otstyp mejdy bykvami*/
    animation-name: moveInLeft;
    /*reference sur keyframe*/
    animation-duration: 1s;
    /*durée d'animation*/
    animation-timing-function: ease-out;
    /*speed slow and fast peredvijenia*/
    /*animation-delay: 3s;*/
    /*au moment quand la page se charge, 3s rien se passe*/
    /*animation-iteration-count: 3;*/ }
  .heading-primary--sub {
    display: block;
    /**/
    font-size: 20px;
    /*размер шрифта*/
    font-weight: 400;
    /*насыщенность шрифта*/
    letter-spacing: 17.4px;
    /*otstyp mejdy bykvami*/
    animation: moveInRight 1s ease-out;
    /*srazy vuzuvaet keyframe s parametrami*/ }

.btn:link, .btn:visited {
  /**/
  text-transform: uppercase;
  /*text toko big bykvami*/
  text-decoration: none;
  /*po skolky eto link, on podcherknyt, to none ybiraet podcherkivanie*/
  padding: 15px 40px;
  /*15px=otstyp verx niz*/
  /*40px=otstyps leva i pravo*/
  display: inline-block;
  /**/
  border-radius: 100px;
  /*zakryglaet konci*/
  transition: all .3s;
  /*effekt poavlenia knopki s 1 tochki za 0.3sec*/
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  /* :hover kogda navodim mushky*/
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /*effekt teni pod knopkoi*/ }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    /*yvilichenie btn v 2 raza*/
    opacity: 0;
    /*уровень прозрачности ot [0, 1]*/ }

.btn:active {
  /* :activekogda najali*/
  transform: translateY(1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  /*effekt teni pod knopkoi*/ }

.btn--white {
  background-color: #fff;
  /*zvet fona*/
  color: #777;
  /*zvet texta*/ }
  .btn--white::after {
    background-color: #fff;
    /*zvet posle */ }

.btn::after {
  content: "";
  /*to shto napisano v nytri text*/
  display: inline-block;
  height: 100%;
  /*razmer*/
  width: 100%;
  /*razmer*/
  border-radius: 100px;
  /*okryglenie koncov knopki*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
  /*effekt poavlenia knopki s 1 tochki za 0.4sec*/ }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  /*srazy vuzuvaet keyframe s parametrami*/
  animation-fill-mode: backwards;
  /*poavlenie knopki backwards=s nizy v verh*/ }

.header {
  /*class="header"*/
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  /*on met un contrast sur l'image eclairé"*/
  background-size: cover;
  /*dinamicheskoe izminenie image*/
  background-position: center;
  /*dinamicheskoe izmenenie po topy*/
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /*dimansiryet v lubyu formy*/
  /*https://bennettfeely.com/clippy/*/
  position: relative;
  /*izmenenie pozizii*/ }
  .header__logo-box {
    /* &__logo-box = header__logo-box  */
    position: absolute;
    top: 40px;
    /*otstyp s verhy*/
    left: 40px;
    /*au milieu d'ecran*/ }
  .header__logo {
    height: 35px;
    /*taille du logo hauteur*/ }
  .header__text-box {
    position: absolute;
    /*Положение элемента задается свойствами left, top, right и bottom,*/
    top: 40%;
    /*otstyp s verhy*/
    left: 50%;
    /*au milieu d'ecran*/
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  /*1140px*/
  background-color: #eee;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    background-color: orangered;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 60px; }
  .row .col-1-of-2 {
    width: calc((100% - 60px) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 60px) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 60px) / 3) + 60px); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 60px) / 4); }
  .row .col-2-of-4 {
    width: calc(2 *((100% - 3 * 60px) / 4) + 60px); }
  .row .col-3-of-4 {
    width: calc(3 *((100% - 3 * 60px) / 4) + 2 * 60px); }
