.row {
  max-width: $grid-width; /*1140px*/
  background-color: #eee;
  margin: 0 auto;


  // dla togo shtob ybrat na poslednim row otstyp v 80px
  &:not(:last-child){
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  //class^ veut dire tous les class commencons par col-
  //class* veut dire tous les class contiennent col-
  //cass*  veut dire tous les class finissent par col-
  [class^="col-"]{
    background-color: orangered;
    float: left;
    // dla togo shtob ybrat na poslednim row otstyp v 80px
    &:not(:last-child){
      margin-right: $gutter-horizontal;
    }
  }

  .col-1-of-2{
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3{
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
  }

  .col-2-of-3{
    width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
  }

  .col-1-of-4{
    width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
  }

  .col-2-of-4{
    width: calc(2 *((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
  }

  .col-3-of-4{
    width: calc(3 *((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal});
  }
}