.header{ /*class="header"*/
  height: 95vh;
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-primary-light,0.8),
                  rgba($color-primary-dark,0.8)
  ), url(../img/hero.jpg); /*on met un contrast sur l'image eclairé"*/
  background-size: cover; /*dinamicheskoe izminenie image*/
  background-position: center; /*dinamicheskoe izmenenie po topy*/
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /*dimansiryet v lubyu formy*/ /*https://bennettfeely.com/clippy/*/
  position: relative; /*izmenenie pozizii*/

  &__logo-box {  /* &__logo-box = header__logo-box  */
    position: absolute;
    top: 40px;  /*otstyp s verhy*/
    left: 40px; /*au milieu d'ecran*/
  }

  &__logo {
    height: 35px; /*taille du logo hauteur*/
  }

  &__text-box {
    position: absolute; /*Положение элемента задается свойствами left, top, right и bottom,*/
    top: 40%; /*otstyp s verhy*/
    left: 50%; /*au milieu d'ecran*/
    transform: translate(-50%, -50%);
    text-align: center;
  }
}