.btn {
  &:link, &:visited { /**/
    text-transform: uppercase; /*text toko big bykvami*/
    text-decoration: none; /*po skolky eto link, on podcherknyt, to none ybiraet podcherkivanie*/
    padding: 15px 40px; /*15px=otstyp verx niz*/ /*40px=otstyps leva i pravo*/
    display: inline-block; /**/
    border-radius: 100px; /*zakryglaet konci*/
    transition: all .3s; /*effekt poavlenia knopki s 1 tochki za 0.3sec*/
    position: relative;
    font-size: $default-font-size;
  }
  &:hover { /* :hover kogda navodim mushky*/
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba($color-black, 0.2); /*effekt teni pod knopkoi*/
    &::after {
      transform: scaleX(1.4) scaleY(1.6); /*yvilichenie btn v 2 raza*/
      opacity: 0; /*уровень прозрачности ot [0, 1]*/
    }
  }
  &:active { /* :activekogda najali*/
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba($color-black, 0.2); /*effekt teni pod knopkoi*/
  }
  &--white {
    background-color: $color-white; /*zvet fona*/
    color: $color-grey-dark; /*zvet texta*/
    &::after {
      background-color: $color-white; /*zvet posle */
    }
  }
  &::after {
    content: ""; /*to shto napisano v nytri text*/
    display: inline-block;
    height: 100%; /*razmer*/
    width: 100%; /*razmer*/
    border-radius: 100px; /*okryglenie koncov knopki*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; /*effekt poavlenia knopki s 1 tochki za 0.4sec*/
  }
  &--animated {
    animation: moveInBottom .5s ease-out .75s; /*srazy vuzuvaet keyframe s parametrami*/
    animation-fill-mode: backwards; /*poavlenie knopki backwards=s nizy v verh*/
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all .2s; /*effekt poavlenia knopki s 1 tochki za 0.2sec*/
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    transform: translateY(0);
  }
}
